@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} //로고 돌아가게 동작하는 코드

@font-face {
  font-family: "Humanbumsuk";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
} // 폰트 디자인

body {
  margin: 0;
  color: rgb(22, 22, 22);
  font-family: "Karla", sans-serif;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
} // 배경영상

main {
  position: fixed;
  z-index: 2; // 레이어정렬 (z축을 말함) - 3D관점으로 봐야함
  width: 100vw;
  height: 100vh;
  display: flex; // 3가지 요소를 배치시킬것임
  flex-direction: column; // column을 이용해 flex 가로정렬을 세로로 정렬
  justify-content: center; //세로방향 기준 가운데로 정렬
  align-items: center; //세로방향 교차축
}

.time {
  font-family: Humanbumsuk;
  animation-delay: 2s;
  font-size: 80px;
  font-style: italic;
  color: whitesmoke;
  text-shadow: 100vh;
  border: 5px solid whitesmoke;
  border-radius: 50%;
  font-weight: 500;
  padding: 50px;
  width: 310px;
  box-shadow: 5px 8px 10px 1px rgb(255, 255, 255);
} // 시계

.quotes {
  position: relative;
  margin-bottom: 30px;
  font-family: Humanbumsuk;
  font-size: 40px;
  color: whitesmoke;
  top: 30px;
  // 명언

  .quotesAddBtn {
    display: none;
    position: absolute;
    font-family: Humanbumsuk;
    font-size: 18px;
    top: 120%;
    right: 50%;
    transform: translate(50%, -50%);
  } // 새 명언 추가하기 버튼

  &:hover {
    .quotesAddBtn {
      display: inline-block;
    }
  }
}

.newQuotes {
  display: none;
}

// chatGPT
.search {
  margin-top: 50px;

  .searchTitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .searchLogo {
    width: 32px;
    height: 32px;

    animation: spin 15s linear infinite;
  }

  .gptsearch {
    margin-left: 10px;
    font-family: Humanbumsuk;
    color: whitesmoke;
    height: 30px;
    line-height: 30px;
    font-size: 30px;
  }
} // ChatGPT 검색창

.searchResult {
  display: none;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.searchForm {
  margin-left: 80px;
}

.nft {
  position: fixed;
  top: 0;
  right: 0;
  margin: 24px;

  img {
    width: 256px;
    height: 256px;
  }

  .nftHover {
    position: absolute;
    display: none;
    width: 256px;
    height: 256px;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    a {
      color: white;
    }
    button {
      position: absolute;

      top: 0;
      right: 0;
      margin: -8px;
      border-radius: 9999px;
      width: 24px;
      height: 24px;
    }
  }

  &:hover {
    .nftHover {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.nftView {
  position: fixed;
  top: 0;
  right: 0;
  margin: 24px;
  display: none;
}
