@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "Humanbumsuk";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Humanbumsuk.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  color: rgb(22, 22, 22);
  font-family: "Karla", sans-serif;
}

.bgVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
}

.date {
  font-family: "Humanbumsuk";
  animation-duration: 4s;
  font-size: 70px;
  color: #ffe5bb;
  text-shadow: 0 0 20px rgb(230, 149, 10), 0 0 20px rgba(10, 175, 230, 0);
}

.time {
  font-family: "Humanbumsuk";
  font-size: 150px;
  animation-duration: 2s;
  left: 35%;
  top: 40%;
  letter-spacing: 0.05em;
  padding: 5px 0;
  transform: translate(-50%, -50%);
  color: #ffe5bb;
  text-shadow: 0 0 20px rgb(230, 149, 10), 0 0 20px rgba(10, 175, 230, 0);
}

.quotes {
  position: relative;
  margin-bottom: 30px;
  font-family: Humanbumsuk;
  font-size: 40px;
  color: #ffe5bb;
  text-shadow: 0 0 20px rgb(230, 149, 10), 0 0 20px rgba(10, 175, 230, 0);
  top: 30px;
  left: 20px;
}
.quotes .quotesAddBtn {
  display: none;
  position: absolute;
  font-family: Humanbumsuk;
  font-size: 18px;
  top: 130%;
  right: 70%;
  transform: translate(50%, -50%);
}
.quotes .quotesDltBtn {
  display: none;
  position: absolute;
  font-family: Humanbumsuk;
  font-size: 18px;
  top: 130%;
  left: 50%;
  transform: translate(50%, -50%);
}
.quotes:hover .quotesAddBtn {
  display: inline-block;
}
.quotes:hover .quotesDltBtn {
  display: inline-block;
}

.newQuotes {
  display: none;
}

.search {
  margin-top: 50px;
  margin-right: 10px;
}
.search .searchTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search .searchLogo {
  width: 42px;
  height: 42px;
  animation: spin 10s linear infinite;
}
.search .gptsearch {
  margin-left: 10px;
  font-family: Humanbumsuk;
  color: #ffe5bb;
  text-shadow: 0 0 20px rgb(230, 149, 10), 0 0 20px rgba(10, 175, 230, 0);
  height: 30px;
  line-height: 30px;
  font-size: 30px;
}

.searchResult {
  display: none;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.searchForm {
  margin-left: 50px;
  margin-top: 20px;
  opacity: 0.6;
}

.nft {
  position: fixed;
  top: 0;
  right: 0;
  margin: 24px;
}
.nft img {
  border: 0px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  opacity: 0.6;
  width: 256px;
  height: 256px;
}
.nft .nftHover {
  position: absolute;
  display: none;
  width: 256px;
  height: 256px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.nft .nftHover a {
  color: white;
}
.nft .nftHover button {
  position: absolute;
  top: 0;
  right: 0;
  margin: -8px;
  border-radius: 9999px;
  width: 24px;
  height: 24px;
}
.nft:hover .nftHover {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nftView {
  position: fixed;
  top: 0;
  right: 0;
  margin: 24px;
  display: none;
}

.weather {
  border-radius: 10%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 30px;
  color: whitesmoke;
  background-color: rgba(255, 255, 255, 0.001);
}

/*# sourceMappingURL=style.css.map */
